{
  "openapi": "3.0.0",
  "info": {
    "title": "Sipiteno Consulting Services API",
    "description": "Business development and AI consulting services across 28 countries",
    "version": "1.0.0",
    "contact": { "email": "hello@sipiteno.com" }
  },
  "servers": [{ "url": "https://sipiteno.com", "description": "Production" }],
  "paths": {
    "/contact": {
      "post": {
        "summary": "Submit a strategy call request",
        "description": "Request a free 30-minute strategy scoping call for market entry or expansion consulting.",
        "operationId": "requestStrategyCall",
        "responses": { "200": { "description": "Request received" } }
      }
    },
    "/services/{service}": {
      "get": {
        "summary": "Get service details",
        "description": "Retrieve information about a specific consulting service (ai-consulting, business-development, etc.).",
        "operationId": "getService",
        "parameters": [{ "name": "service", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Service details page" } }
      }
    },
    "/locations/{country}": {
      "get": {
        "summary": "Get country-specific service information",
        "description": "Retrieve details about services available in a specific country.",
        "operationId": "getCountryServices",
        "parameters": [{ "name": "country", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Country page with services" } }
      }
    }
  }
}
